*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

#main{
  width: 100vw;
  height: 100vh;
  background-color: rgb(222, 184, 135);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#child0{
  width: 22%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#child1{
  width: 22%;
  height: 9%;
  background-color: white;
  margin-bottom: 30px;
  /* border-radius: 10px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:0 15px 0 15px;
}

#child2{

  width: 22%;
  min-height: 50vh;
  padding: 10px;
  background-color: white;
  /* border-radius: 10px; */
  padding: 15px;
  font-size: 1.3vmax;
  font-weight: 600;
  color: grey;
  text-transform: capitalize;
}


#head{

  font-size: 2.3vmax;
  color: white;
  font-weight: 500;
}

#input{

  width: 50%;
  height: 40%;
  outline: none;
  border:none;
  /* border-bottom: 1px solid rgba(30, 144, 255,0.6); */
  font-size: 1.3vmax;
  text-align: center;
  color:rgba(0,0,0,0.7);
  font-weight: 600;
  text-transform: capitalize;
}

::placeholder{
  text-align: center;
  font-size: 1.3vmax;
}



#button{
  padding: 4px;
  color: rgb(30, 144, 255);
  border:none;
  cursor: pointer;
  background-color: white;
  font-size: 1.25vmax;
  font-weight: 900;
}

#button:active{
  transform: scale(0.95,0.95);
}

.cross{

  font-size: 2.6vmax;
  color: tomato;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.cross:active{
  transform: scale(0.95,0.95);
}

.cross:hover{
  color: red;
}

@media(max-width:1080px){

  #child0{
    width: 90%;
    height: 15%;
  }
  
  #child1{
    width: 90%;
    height: 9%;
  }
  
  #child2{
  
    width: 90%;
    min-height: 40vh;

} 

::placeholder{
  font-size: 2vmax;
}


#head{

  font-size: 4.3vmax;
}


#button{
  font-size: 2.25vmax;
}

.cross{

  font-size: 5vmax;
}

#child2 span{
  font-size: 2.5vmax;
}

}